////
/// @group colors
/// @author Rafael Goulart (faelplg)
////

/// ## Black color
///
/// Used for text color.
///
/// @type Color
$black: #222222;
/// ## Light black color
///
/// @type Color
$light-black: #666;

/// ## Blue color
///
/// Used for new items.
///
/// @type Color
$blue: #1e88e5;
/// ## Dark blue color
///
/// @type Color
$dark-blue: #0069c0;

/// ## Brown color
///
/// Used for fixed/approved items
///
/// @type Color
$brown: #8d6e63;
/// ## Dark brown color
///
/// @type Color
$dark-brown: #6d4c41;

/// ## Flat (black) color
///
/// Used for flat elements and dark background.
///
/// @type Color
$flat: #606060;

/// ## Gray color
///
/// Used for background and for disabled items.
///
/// @type Color
$gray: #EEEEEE;
/// ## Light gray color
///
/// @type Color
$light-gray: #fafafa;
/// ## Dark gray color
///
/// @type Color
$dark-gray: #d0d0d0;

/// ## Green color
///
/// Used to indicate success.
///
/// @type Color
$green: #4caf50;
/// ## Dark green color
///
/// @type Color
$dark-green: #358c35;

/// ## Orange color
///
/// Used to indicate warning, alert.
///
/// @type Color
$orange: #FF8C00;

/// ## Pink color
///
/// Used to indicate execution.
///
/// @type Color
$pink: #c2185b;
/// ## Dark pink color
///
/// @type Color
$dark-pink: #ad1457;

/// ## Purple color
///
/// Used to indicate action.
///
/// @type Color
$purple: #7e57c2;
/// ## Dark purple color
///
/// @type Color
$dark-purple: #4d2c91;

/// ## Red color
///
/// Used to indicate danger
///
/// @type Color
$red: #EF5350;

/// ## Residuall color
///
/// @type Color
$residuall: #68BD62;
/// ## Residuall ocean color
///
/// @type Color
$residuall-ocean: #1f8571;
/// ## Residuall yellow color
///
/// @type Color
$residuall-yellow: #c5da51;
